<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- FREE Tier -->
        <div class="col-lg-4" *ngFor = "let plan of PLANS">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{plan.name}}</h5>
              <h6 class="card-price text-center">${{plan.price}}<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li *ngFor = "let tempVar of plan.av">
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>
                    {{tempVar}}
                </li>
                <li class="text-muted" *ngFor = "let tempVar of plan.na">
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>
                    {{tempVar}}
                </li>
              </ul>
              <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>